#wrap {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #fff;
    z-index: 999;
    h1 {
        width: 125px;
        height: 60px;

        a {
            display: block;
            width: 200px;
            height: 32px;
            padding: 25px;
        }
    }

    .vHeader_icons {
        position: absolute;
        top: 0;
        right: 0;

        a {
            width: 80px;
            height: 80px;
            float: left;
        }
    }
}