.user-info {
    width: 100%;
    height: 300px;
    background-color: #000f1c;
    padding-top: 70px;

    .info-pic {
        width: 120px;
        height: 120px;
        border: 2px solid rgba(255, 255, 255, .3);
        border-radius: 100%;
        margin: 0 auto;
        overflow: hidden;

        img {
            width: 120px;
            height: 120px;
        }
    }

    .info-name {
        font-size: 24px;
        padding-top: 12px;
        color: #fff;
        text-align: center;
        line-height: 48px;
    }
}

#link_btn {
    .am-list-item {
        width: 85%;
        float: left;
    }

    .am-button {
        float: right;
        margin: 8px 8px 0 0;
    }
}